In [522]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# SVC - Support Vector Classification
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline
import warnings
warnings.filterwarnings('ignore')

In [523]:
# This will read the data from the csv file
data = pd.read_csv('/content/diabetes.csv')

In [524]:
# Finds the mean,median and mode of the dataset
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [525]:
data_copy = data.copy(deep=True)

In [564]:
# Removes data with 0 values from the dataset 
data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']] = data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']].replace(0,np.nan)

In [565]:
# Replaces the zero data entries with the median value of the dataset 
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].median())
data['BloodPressure'] = data['BloodPressure'].replace(0,data['BloodPressure'].median())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].median())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].median())
data['BMI'] = data['BMI'].replace(0,data['BMI'].median())

In [566]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [567]:
# Training 90% of the dataset and tesing 10% of the dataset
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.10,random_state = 41)

In [568]:
pipeline_svc = Pipeline([('scalar3',StandardScaler()),('lr_classifier',SVC())])

In [569]:
# Feature Scaling is not required for non-machine learning algorithms like Random Forest and Gradient Boosting Classifier
pipeline_rf = Pipeline([('dt_classifier', RandomForestClassifier())])
pipeline_gbc = Pipeline([('dt_classifier', GradientBoostingClassifier())])

In [570]:
pipelines = [pipeline_svc, pipeline_rf, pipeline_gbc]

In [571]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [572]:
pipe_dict = {0:'SVC',
             1: 'RF',
             2: 'GBC'}

In [597]:
# Predicts the accuracy of various SVC,RF and GBC algorithms
for i,model in enumerate(pipelines):
    print("{} Test Accuracy : {} %".format(pipe_dict[i],model.score(X_test,y_test)*100))

SVC Test Accuracy : 83.11688311688312 %
RF Test Accuracy : 84.4155844155844 %
GBC Test Accuracy : 85.71428571428571 %

In [ ]:
 # Predicting whether the patient is diabetic or non-diabetic using Random Forest Classifier model(Highest accuracy)

In [574]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [575]:
rf = RandomForestClassifier()

In [576]:
rf.fit(X,y)

RandomForestClassifier()

In [591]:
new_data = pd.DataFrame({
'Pregnancies':1,
'Glucose':111.0,
'BloodPressure':86.0,
'SkinThickness':19.0,
'Insulin':402.0,
'BMI':30.1,
'DiabetesPedigreeFuncton':0.143,
'Age':23,},index=[0])

In [592]:
p = rf.predict(new_data)

In [593]:
if p[0] == 0:
    print('Non-Diabetic')
else:
    print('Diabetic')

Non-Diabetic

In [549]:
# Predicting whether the patient is diabetic or non-diabetic using Gradient Boosting Classifier model

In [594]:
gbc=GradientBoostingClassifier()

In [595]:
gbc.fit(X,y)

GradientBoostingClassifier()

In [596]:
p=gbc.predict(new_data)

In [590]:
if p[0] == 0:
    print('Non-Diabetic')
else:
    print('Diabetic')

Non-Diabetic