In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

# SVC - Support Vector Classification
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline

In [5]:
# This will read the data from the csv file
data = pd.read_csv('/content/diabetes.csv')

In [6]:
# Finds the mean,median and mode of the dataset
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [22]:
data_copy = data.copy(deep=True)

In [23]:
# Removes data with 0 values from the dataset
data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']] = data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']].replace(0,np.nan)

In [24]:
# Replaces the zero data entries with the mean value of the dataset
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].mean())
data['BloodPressure'] = data['BloodPressure'].replace(0,data['BloodPressure'].mean())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].mean())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].mean())
data['BMI'] = data['BMI'].replace(0,data['BMI'].mean())

In [25]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [26]:
# Training 90% of the dataset and tesing 10% of the dataset
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.10,random_state=41)

In [27]:
# Feature scaling for Logistic Regression (Standard Scaler Output is input for logistic regression)
pipeline_lr = Pipeline([('scalar1',StandardScaler()),('lr_classifier',LogisticRegression())])
pipeline_knn = Pipeline([('scalar2',StandardScaler()),('lr_classifier',KNeighborsClassifier())])
pipeline_svc = Pipeline([('scalar3',StandardScaler()),('lr_classifier',SVC())])

In [28]:
# Feature Scaling is not required for non-machine learning algorithms like Decision Tree and Random forest
pipeline_dt = Pipeline([('dt_classifier', DecisionTreeClassifier())])
pipeline_rf = Pipeline([('dt_classifier', RandomForestClassifier())])
pipeline_gbc = Pipeline([('dt_classifier', GradientBoostingClassifier())])

In [29]:
pipelines = [pipeline_lr,pipeline_knn, pipeline_svc, pipeline_dt, pipeline_rf, pipeline_gbc]

In [30]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [31]:
pipe_dict = {0:'LR',
             1:'KNN',
             2:'SVC',
             3:'DT',
             4: 'RF',
             5: 'GBC'}

In [32]:
# Predicts the accuracy of various ML algorithms
for i,model in enumerate(pipelines):
    print("{} Test Accuracy:{}".format(pipe_dict[i],model.score(X_test,y_test)*100))

LR Test Accuracy:81.81818181818183
KNN Test Accuracy:77.92207792207793
SVC Test Accuracy:81.81818181818183
DT Test Accuracy:70.12987012987013
RF Test Accuracy:83.11688311688312
GBC Test Accuracy:80.51948051948052

In [194]:
 # Predicting whether the patient is diabetic or non-diabetic using Random Forest Classifier model(Highest accuracy)

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [35]:
X = data.drop('Outcome',axis=1)
y = data['Outcome']

In [36]:
rf = RandomForestClassifier()

In [37]:
rf.fit(X,y)

RandomForestClassifier()

In [38]:
new_data = pd.DataFrame({
'Pregnancies':6,
'Glucose':148.0,
'BloodPressure':72.0,
'SkinThickness':35.0,
'Insulin':79.799479,
'BMI':33.6,
'DiabetesPedigreeFuncton':0.627,
'Age':50,},index=[0])

In [39]:
p = rf.predict(new_data)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- DiabetesPedigreeFuncton
Feature names seen at fit time, yet now missing:
- DiabetesPedigreeFunction

  warnings.warn(message, FutureWarning)

In [40]:
if p[0] == 0:
    print('Non-Diabetic')
else:
    print('Diabetic')

Diabetic